<footer class="navbar fixed-bottom navbar-dark bg-seesharprun-blue d-flex justify-content-around">
    <small>
        <a href="{{ site.url }}/sitemap.xml" class="navbar-text">
            Sitemap
        </a>
    </small>
    <small>
        <span class="navbar-text">
            &copy; {{ site.time | date: '%Y' }}
            -
            <a href="mailto:{{ site.email | encode_email }}">
                SeeSharpRun.NET
            </a>
        </span>
    </small>
    <small>
        <a href="{{ site.url }}/feed.xml" class="navbar-text">
            Feed
        </a>
    </small>
</footer>