$seesharprun-blue: #03789F;
$seesharprun-green: #A8CC70;

.bg-seesharprun-blue {
    background-color: $seesharprun-blue !important;
}

.bg-seesharprun-green {
    background-color: $seesharprun-green !important;
}

.text-seesharprun-blue {
    color: $seesharprun-blue !important;
}

.text-seesharprun-green {
    color: $seesharprun-green !important;
}