.text-triple-size {
    font-size: 3.00em;
}

.text-double-size {
    font-size: 2.00em;
}

.text-one-and-a-half-size {
    font-size: 1.50em;
}

.text-one-and-a-quarter-size {
    font-size: 1.25em;
}

.text-half-size {
    font-size: 0.50em;
}

.text-three-quarters-size {
    font-size: 0.75em;
}

.text-two-thirds-size {
    font-size: 0.66em;
}

.text-third-size {
    font-size: 0.33em;
}

.text-quarter-size {
    font-size: 0.25em;
}