---
layout: content
---
<section class="pt-3 mb-5 bg-seesharprun-green d-flex flex-column text-dark rounded-bottom">
    <div class="d-flex justify-content-around align-items-center">
        {% include author.html %}
        <div>
            {{ page.date | date: '%B %d, %Y' }}
        </div>
    </div>
    {% if page.tags.size > 0 %}
        <ul class="nav pb-2 align-self-center">
            {% for tag in page.tags %}
                <li class="nav-item">
                    <span class="nav-link">
                        {{ tag }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
<article>
    {{ content }}
</article>